@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: content-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0C0C0;
    font-size: 20px;
    font-weight: bold;
}

.location {
    flex: 1;
    background-color: azure;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0;
    background-color: #D2D2D2;
    font-size: 20px;
}

.radios_row {
    width: 356px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.radios {
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.radios_row .radios:first-child {
    width: 116px;
}

.radios_row .radios:not(:first-child) {
    flex: 1;
}

.radios>label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.radios>label:not(:last-child) {
    border-right: 1px solid #D0D0D0;
}

.radios>input[type="radio"] {
    display: none;
}

.radios>input[type="radio"]:checked+label{
    background-color: #DCEBD5;
}

.cards {
    width: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-bottom: 5px;
}

.cards_row {
    display: flex;
    flex-direction: row;
    gap: 4px
}

.card {
    width: 36px;
    height: 43.68px;
    background-color: aquamarine;
}

.buttons {
    height: 44px;
    width: 356px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 0 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
}

.button.button__highlighted {
    background-color: #008525;
    color: white;
    font-weight: bold;
}

.button:active {
    background-color: rgb(184, 184, 184);
}

/* 속성 */
.display_none {
    display: none;
}